
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mondal{
    max-width: 1140px;


}
  
header{
    height: 400px;
}

.Niloy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;


    
}
.logo{
    color: #4E47FF;
    font-size: large;
    align-items: center;
}

.sign-btn{
    background-color: #4E47FF;
    font-size: 10px;
    
    border: none;
    color: #FFFFFF;
    padding: 7px 30px;
    border-radius: 6px;
}

.Niloy-1{
    text-align: center;
    

    margin: 120px 115px;
    font-size: 20px;

}

.stay-button{
    padding: 8px 15px;
    font-size: 10px;
    border-radius: 6px;
    background-color: #4E47FF;
    border: none;
    color: #FFFFFF;
}
header{
    background-image: url('../../Assets/Hero-bg.png');
}



.niloy{
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 109px; 
    
}

.ghgh{
    width: 489px;
    margin-top: 62px;
}
.btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 15px;
    font-size:10px ;


}

img{
    border-radius: 48px;
    
   
    
}

.clr{
    color: #252432;
}





.stats-container{
    
    background-color: #eef0ff;
    padding: 30px;
    margin: 100px 80px;
    text-align: center;
    border-radius: 24px;
    
    
}




.stats-container h3{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 1140px;
   
    color:#4E47FF;
}

.stats{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.stat h2{
    font-size: 28px;
    margin: 0;
}

.stats-part p {
    color: #000000;
}



.contract-container{
    width: 850px;
   /* background-color: ;*/
   display: flex;
   
   justify-content: space-between;
   padding: 100px 120px  ;
   margin-right: 300px;
   background-color: #eef0ff;

   
   
   border-radius: 20px;
}

.left-side{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.right-side{
    flex: 1.1;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    

}

label{
    font-size: 14px;
    color: #333;

}

input,textarea{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    resize: none;
    background-color: #fff;
}

textarea{
    height: 50px;
}

button{
    padding: 12px;
    background-color: #3d5afe;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover{
   background-color:#2e46e0; 
}
 
.logo-size{
    font-size: 90px;
    color: #4E47FF;

}

.list{
    display: flex;
   justify-content: center;
   gap: 30px;
   font-size: 10px;
   color: #8987A1;
   margin: 50px;


}

.add-color{
    color: #8987A1;
}

.parent{
    text-align: center;
}

div ul li{
    list-style: none;
}